PORT=3000
NODE_URL=http://192.168.0.131:3000
NODE_ENV=development

MONGODB_URI=mongoDb Url here

SOLANA_NETWORK=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
SOLANA_COMMITMENT=confirmed

SOLANA_MEMO_PROGRAM_ID=Official SPL Memo Program ID on Solana
